<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huxl.fam.mapper.DvAssetsTypeMapper" >
  <resultMap id="BaseResultMap" type="com.huxl.fam.entity.DvAssetsType" >
    <id column="assets_type_id" property="assetsTypeId" jdbcType="VARCHAR" />
    <result column="assets_type_name" property="assetsTypeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    assets_type_id, assets_type_name
  </sql>

  <!--查询所有数据-->
  <select id="queryAllTyep" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM dv_assets_type
  </select>
</mapper>