<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huxl.fam.mapper.DvAssetsTypeMapper" >
  <resultMap id="BaseResultMap" type="com.huxl.fam.entity.DvAssetsType" >
    <id column="assets_type_id" property="assetsTypeId" jdbcType="VARCHAR" />
    <result column="assets_type_name" property="assetsTypeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    assets_type_id, assets_type_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dv_assets_type
    where assets_type_id = #{assetsTypeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dv_assets_type
    where assets_type_id = #{assetsTypeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huxl.fam.entity.DvAssetsType" >
    insert into dv_assets_type (assets_type_id, assets_type_name)
    values (#{assetsTypeId,jdbcType=VARCHAR}, #{assetsTypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huxl.fam.entity.DvAssetsType" >
    insert into dv_assets_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="assetsTypeId != null" >
        assets_type_id,
      </if>
      <if test="assetsTypeName != null" >
        assets_type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="assetsTypeId != null" >
        #{assetsTypeId,jdbcType=VARCHAR},
      </if>
      <if test="assetsTypeName != null" >
        #{assetsTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huxl.fam.entity.DvAssetsType" >
    update dv_assets_type
    <set >
      <if test="assetsTypeName != null" >
        assets_type_name = #{assetsTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where assets_type_id = #{assetsTypeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huxl.fam.entity.DvAssetsType" >
    update dv_assets_type
    set assets_type_name = #{assetsTypeName,jdbcType=VARCHAR}
    where assets_type_id = #{assetsTypeId,jdbcType=VARCHAR}
  </update>
</mapper>