<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huxl.fam.mapper.DvAssetsBoreturnMapper" >
  <resultMap id="BaseResultMap" type="com.huxl.fam.entity.DvAssetsBoreturn" >
    <id column="boreturn_id" property="boreturnId" jdbcType="VARCHAR" />
    <result column="assets_id" property="assetsId" jdbcType="VARCHAR" />
    <result column="assets_name" property="assetsName" jdbcType="VARCHAR" />
    <result column="boreturn_account" property="boreturnAccount" jdbcType="VARCHAR" />
    <result column="boreturn_userealname" property="boreturnUserealname" jdbcType="VARCHAR" />
    <result column="boreturn_time" property="boreturnTime" jdbcType="TIMESTAMP" />
    <result column="prescript_returntime" property="prescriptReturntime" jdbcType="TIMESTAMP" />
    <result column="prescript_income" property="prescriptIncome" jdbcType="REAL" />
    <result column="manager_account" property="managerAccount" jdbcType="VARCHAR" />
    <result column="real_returntime" property="realReturntime" jdbcType="TIMESTAMP" />
    <result column="real_income" property="realIncome" jdbcType="REAL" />
    <result column="manager_name" property="managerName" jdbcType="VARCHAR" />
    <result column="assets_state_id" property="assetsStateId" jdbcType="VARCHAR" />
    <result column="assets_state_name" property="assetsStateName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="boreturn_style" property="boreturnStyle" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    boreturn_id, assets_id, assets_name, boreturn_account, boreturn_userealname, boreturn_time, 
    prescript_returntime, prescript_income, manager_account, real_returntime, real_income, 
    manager_name, assets_state_id, assets_state_name, remark, boreturn_style, user_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dv_assets_boreturn
    where boreturn_id = #{boreturnId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dv_assets_boreturn
    where boreturn_id = #{boreturnId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huxl.fam.entity.DvAssetsBoreturn" >
    insert into dv_assets_boreturn (boreturn_id, assets_id, assets_name, 
      boreturn_account, boreturn_userealname, boreturn_time, 
      prescript_returntime, prescript_income, manager_account, 
      real_returntime, real_income, manager_name, 
      assets_state_id, assets_state_name, remark, 
      boreturn_style, user_type)
    values (#{boreturnId,jdbcType=VARCHAR}, #{assetsId,jdbcType=VARCHAR}, #{assetsName,jdbcType=VARCHAR}, 
      #{boreturnAccount,jdbcType=VARCHAR}, #{boreturnUserealname,jdbcType=VARCHAR}, #{boreturnTime,jdbcType=TIMESTAMP}, 
      #{prescriptReturntime,jdbcType=TIMESTAMP}, #{prescriptIncome,jdbcType=REAL}, #{managerAccount,jdbcType=VARCHAR}, 
      #{realReturntime,jdbcType=TIMESTAMP}, #{realIncome,jdbcType=REAL}, #{managerName,jdbcType=VARCHAR}, 
      #{assetsStateId,jdbcType=VARCHAR}, #{assetsStateName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{boreturnStyle,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huxl.fam.entity.DvAssetsBoreturn" >
    insert into dv_assets_boreturn
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="boreturnId != null" >
        boreturn_id,
      </if>
      <if test="assetsId != null" >
        assets_id,
      </if>
      <if test="assetsName != null" >
        assets_name,
      </if>
      <if test="boreturnAccount != null" >
        boreturn_account,
      </if>
      <if test="boreturnUserealname != null" >
        boreturn_userealname,
      </if>
      <if test="boreturnTime != null" >
        boreturn_time,
      </if>
      <if test="prescriptReturntime != null" >
        prescript_returntime,
      </if>
      <if test="prescriptIncome != null" >
        prescript_income,
      </if>
      <if test="managerAccount != null" >
        manager_account,
      </if>
      <if test="realReturntime != null" >
        real_returntime,
      </if>
      <if test="realIncome != null" >
        real_income,
      </if>
      <if test="managerName != null" >
        manager_name,
      </if>
      <if test="assetsStateId != null" >
        assets_state_id,
      </if>
      <if test="assetsStateName != null" >
        assets_state_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="boreturnStyle != null" >
        boreturn_style,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="boreturnId != null" >
        #{boreturnId,jdbcType=VARCHAR},
      </if>
      <if test="assetsId != null" >
        #{assetsId,jdbcType=VARCHAR},
      </if>
      <if test="assetsName != null" >
        #{assetsName,jdbcType=VARCHAR},
      </if>
      <if test="boreturnAccount != null" >
        #{boreturnAccount,jdbcType=VARCHAR},
      </if>
      <if test="boreturnUserealname != null" >
        #{boreturnUserealname,jdbcType=VARCHAR},
      </if>
      <if test="boreturnTime != null" >
        #{boreturnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="prescriptReturntime != null" >
        #{prescriptReturntime,jdbcType=TIMESTAMP},
      </if>
      <if test="prescriptIncome != null" >
        #{prescriptIncome,jdbcType=REAL},
      </if>
      <if test="managerAccount != null" >
        #{managerAccount,jdbcType=VARCHAR},
      </if>
      <if test="realReturntime != null" >
        #{realReturntime,jdbcType=TIMESTAMP},
      </if>
      <if test="realIncome != null" >
        #{realIncome,jdbcType=REAL},
      </if>
      <if test="managerName != null" >
        #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="assetsStateId != null" >
        #{assetsStateId,jdbcType=VARCHAR},
      </if>
      <if test="assetsStateName != null" >
        #{assetsStateName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="boreturnStyle != null" >
        #{boreturnStyle,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huxl.fam.entity.DvAssetsBoreturn" >
    update dv_assets_boreturn
    <set >
      <if test="assetsId != null" >
        assets_id = #{assetsId,jdbcType=VARCHAR},
      </if>
      <if test="assetsName != null" >
        assets_name = #{assetsName,jdbcType=VARCHAR},
      </if>
      <if test="boreturnAccount != null" >
        boreturn_account = #{boreturnAccount,jdbcType=VARCHAR},
      </if>
      <if test="boreturnUserealname != null" >
        boreturn_userealname = #{boreturnUserealname,jdbcType=VARCHAR},
      </if>
      <if test="boreturnTime != null" >
        boreturn_time = #{boreturnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="prescriptReturntime != null" >
        prescript_returntime = #{prescriptReturntime,jdbcType=TIMESTAMP},
      </if>
      <if test="prescriptIncome != null" >
        prescript_income = #{prescriptIncome,jdbcType=REAL},
      </if>
      <if test="managerAccount != null" >
        manager_account = #{managerAccount,jdbcType=VARCHAR},
      </if>
      <if test="realReturntime != null" >
        real_returntime = #{realReturntime,jdbcType=TIMESTAMP},
      </if>
      <if test="realIncome != null" >
        real_income = #{realIncome,jdbcType=REAL},
      </if>
      <if test="managerName != null" >
        manager_name = #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="assetsStateId != null" >
        assets_state_id = #{assetsStateId,jdbcType=VARCHAR},
      </if>
      <if test="assetsStateName != null" >
        assets_state_name = #{assetsStateName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="boreturnStyle != null" >
        boreturn_style = #{boreturnStyle,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
    </set>
    where boreturn_id = #{boreturnId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huxl.fam.entity.DvAssetsBoreturn" >
    update dv_assets_boreturn
    set assets_id = #{assetsId,jdbcType=VARCHAR},
      assets_name = #{assetsName,jdbcType=VARCHAR},
      boreturn_account = #{boreturnAccount,jdbcType=VARCHAR},
      boreturn_userealname = #{boreturnUserealname,jdbcType=VARCHAR},
      boreturn_time = #{boreturnTime,jdbcType=TIMESTAMP},
      prescript_returntime = #{prescriptReturntime,jdbcType=TIMESTAMP},
      prescript_income = #{prescriptIncome,jdbcType=REAL},
      manager_account = #{managerAccount,jdbcType=VARCHAR},
      real_returntime = #{realReturntime,jdbcType=TIMESTAMP},
      real_income = #{realIncome,jdbcType=REAL},
      manager_name = #{managerName,jdbcType=VARCHAR},
      assets_state_id = #{assetsStateId,jdbcType=VARCHAR},
      assets_state_name = #{assetsStateName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      boreturn_style = #{boreturnStyle,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR}
    where boreturn_id = #{boreturnId,jdbcType=VARCHAR}
  </update>

  <!--条件查询-->
  <sql id="conditions">
    <if test="boreturnStyle != null and boreturnStyle != '' " >
      AND boreturn_style = #{boreturnStyle}
    </if>
    <if test=" assetsId!=null and assetsId!='' ">
      AND assets_id = #{assets_id}
    </if>
    <if test="assetsName != null and assetsName != '' " >
      AND assets_name LIKE '%${assetsName}%'
    </if>
    <if test="boreturnTime != null and boreturnTime != '' " >
      AND DATE(boreturn_time)= #{boreturnTime}
    </if>
  </sql>

  <select id="selectBoreturn" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dv_assets_boreturn
    where 1=1
    <include refid="conditions"/>
  </select>

  <select id="queryNum" resultType="java.lang.Integer">
    SELECT COUNT(*)
    from dv_assets_boreturn
    WHERE 1=1
    <include refid="conditions"/>
  </select>

</mapper>