<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huxl.fam.mapper.DvAssetsRepairMapper" >
  <resultMap id="BaseResultMap" type="com.huxl.fam.entity.DvAssetsRepair" >
    <id column="repair_id" property="repairId" jdbcType="VARCHAR" />
    <result column="assets_id" property="assetsId" jdbcType="VARCHAR" />
    <result column="assets_name" property="assetsName" jdbcType="VARCHAR" />
    <result column="assets_num" property="assetsNum" jdbcType="VARCHAR" />
    <result column="repair_time" property="repairTime" jdbcType="TIMESTAMP" />
    <result column="estimated_completion_time" property="estimatedCompletionTime" jdbcType="TIMESTAMP" />
    <result column="completion_time" property="completionTime" jdbcType="TIMESTAMP" />
    <result column="repair_price" property="repairPrice" jdbcType="REAL" />
    <result column="estimated_repair_price" property="estimatedRepairPrice" jdbcType="REAL" />
    <result column="repair_company" property="repairCompany" jdbcType="VARCHAR" />
    <result column="repair_companyphone" property="repairCompanyphone" jdbcType="VARCHAR" />
    <result column="repair_situation" property="repairSituation" jdbcType="VARCHAR" />
    <result column="malfunction_reson" property="malfunctionReson" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="repair_style" property="repairStyle" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    repair_id, assets_id, assets_name, assets_num, repair_time, estimated_completion_time, 
    completion_time, repair_price, estimated_repair_price, repair_company, repair_companyphone, 
    repair_situation, malfunction_reson, account, user_name, remark, repair_style
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dv_assets_repair
    where repair_id = #{repairId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dv_assets_repair
    where repair_id = #{repairId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huxl.fam.entity.DvAssetsRepair" >
    insert into dv_assets_repair (repair_id, assets_id, assets_name, 
      assets_num, repair_time, estimated_completion_time, 
      completion_time, repair_price, estimated_repair_price, 
      repair_company, repair_companyphone, repair_situation, 
      malfunction_reson, account, user_name, 
      remark, repair_style)
    values (#{repairId,jdbcType=VARCHAR}, #{assetsId,jdbcType=VARCHAR}, #{assetsName,jdbcType=VARCHAR}, 
      #{assetsNum,jdbcType=VARCHAR}, #{repairTime,jdbcType=TIMESTAMP}, #{estimatedCompletionTime,jdbcType=TIMESTAMP}, 
      #{completionTime,jdbcType=TIMESTAMP}, #{repairPrice,jdbcType=REAL}, #{estimatedRepairPrice,jdbcType=REAL}, 
      #{repairCompany,jdbcType=VARCHAR}, #{repairCompanyphone,jdbcType=VARCHAR}, #{repairSituation,jdbcType=VARCHAR}, 
      #{malfunctionReson,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{repairStyle,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huxl.fam.entity.DvAssetsRepair" >
    insert into dv_assets_repair
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="repairId != null" >
        repair_id,
      </if>
      <if test="assetsId != null" >
        assets_id,
      </if>
      <if test="assetsName != null" >
        assets_name,
      </if>
      <if test="assetsNum != null" >
        assets_num,
      </if>
      <if test="repairTime != null" >
        repair_time,
      </if>
      <if test="estimatedCompletionTime != null" >
        estimated_completion_time,
      </if>
      <if test="completionTime != null" >
        completion_time,
      </if>
      <if test="repairPrice != null" >
        repair_price,
      </if>
      <if test="estimatedRepairPrice != null" >
        estimated_repair_price,
      </if>
      <if test="repairCompany != null" >
        repair_company,
      </if>
      <if test="repairCompanyphone != null" >
        repair_companyphone,
      </if>
      <if test="repairSituation != null" >
        repair_situation,
      </if>
      <if test="malfunctionReson != null" >
        malfunction_reson,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="repairStyle != null" >
        repair_style,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="repairId != null" >
        #{repairId,jdbcType=VARCHAR},
      </if>
      <if test="assetsId != null" >
        #{assetsId,jdbcType=VARCHAR},
      </if>
      <if test="assetsName != null" >
        #{assetsName,jdbcType=VARCHAR},
      </if>
      <if test="assetsNum != null" >
        #{assetsNum,jdbcType=VARCHAR},
      </if>
      <if test="repairTime != null" >
        #{repairTime,jdbcType=TIMESTAMP},
      </if>
      <if test="estimatedCompletionTime != null" >
        #{estimatedCompletionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completionTime != null" >
        #{completionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="repairPrice != null" >
        #{repairPrice,jdbcType=REAL},
      </if>
      <if test="estimatedRepairPrice != null" >
        #{estimatedRepairPrice,jdbcType=REAL},
      </if>
      <if test="repairCompany != null" >
        #{repairCompany,jdbcType=VARCHAR},
      </if>
      <if test="repairCompanyphone != null" >
        #{repairCompanyphone,jdbcType=VARCHAR},
      </if>
      <if test="repairSituation != null" >
        #{repairSituation,jdbcType=VARCHAR},
      </if>
      <if test="malfunctionReson != null" >
        #{malfunctionReson,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="repairStyle != null" >
        #{repairStyle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huxl.fam.entity.DvAssetsRepair" >
    update dv_assets_repair
    <set >
      <if test="assetsId != null" >
        assets_id = #{assetsId,jdbcType=VARCHAR},
      </if>
      <if test="assetsName != null" >
        assets_name = #{assetsName,jdbcType=VARCHAR},
      </if>
      <if test="assetsNum != null" >
        assets_num = #{assetsNum,jdbcType=VARCHAR},
      </if>
      <if test="repairTime != null" >
        repair_time = #{repairTime,jdbcType=TIMESTAMP},
      </if>
      <if test="estimatedCompletionTime != null" >
        estimated_completion_time = #{estimatedCompletionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completionTime != null" >
        completion_time = #{completionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="repairPrice != null" >
        repair_price = #{repairPrice,jdbcType=REAL},
      </if>
      <if test="estimatedRepairPrice != null" >
        estimated_repair_price = #{estimatedRepairPrice,jdbcType=REAL},
      </if>
      <if test="repairCompany != null" >
        repair_company = #{repairCompany,jdbcType=VARCHAR},
      </if>
      <if test="repairCompanyphone != null" >
        repair_companyphone = #{repairCompanyphone,jdbcType=VARCHAR},
      </if>
      <if test="repairSituation != null" >
        repair_situation = #{repairSituation,jdbcType=VARCHAR},
      </if>
      <if test="malfunctionReson != null" >
        malfunction_reson = #{malfunctionReson,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="repairStyle != null" >
        repair_style = #{repairStyle,jdbcType=VARCHAR},
      </if>
    </set>
    where repair_id = #{repairId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huxl.fam.entity.DvAssetsRepair" >
    update dv_assets_repair
    set assets_id = #{assetsId,jdbcType=VARCHAR},
      assets_name = #{assetsName,jdbcType=VARCHAR},
      assets_num = #{assetsNum,jdbcType=VARCHAR},
      repair_time = #{repairTime,jdbcType=TIMESTAMP},
      estimated_completion_time = #{estimatedCompletionTime,jdbcType=TIMESTAMP},
      completion_time = #{completionTime,jdbcType=TIMESTAMP},
      repair_price = #{repairPrice,jdbcType=REAL},
      estimated_repair_price = #{estimatedRepairPrice,jdbcType=REAL},
      repair_company = #{repairCompany,jdbcType=VARCHAR},
      repair_companyphone = #{repairCompanyphone,jdbcType=VARCHAR},
      repair_situation = #{repairSituation,jdbcType=VARCHAR},
      malfunction_reson = #{malfunctionReson,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      repair_style = #{repairStyle,jdbcType=VARCHAR}
    where repair_id = #{repairId,jdbcType=VARCHAR}
  </update>
</mapper>