<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>闲置资产</title>
    <link rel="stylesheet" href="/static/css/item/layui.css">
    <link rel="stylesheet" href="/static/css/weadmin.css">
</head>
<body>
<div class="weadmin-body">
    <div class="layui-row" id="model">
        <form class="layui-form we-search" style="color: #666;">
            资产编号：
            <div class="layui-inline">
                <input type="text" name="aId" id="aId" placeholder="" autocomplete="off" class="layui-input">
            </div>
            资产名称：
            <div class="layui-inline">
                <input type="text" name="aName" id="aName" placeholder="" autocomplete="off" class="layui-input">
            </div>

            闲置时间：
            <div class="layui-inline">
                <input type="text" class="layui-input" name="unusedTime" id="unusedTime" placeholder="yyyy-MM-dd">
            </div>

            <button title="搜索" type="button" style="background-color: #675eea;" class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>

    <div style="">
        <table class="layui-table" id="unusedTb" lay-filter="unusedTb"></table>
    </div>
</div>
</body>
<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/layui.js"></script>
<script src="/static/js/c-component.js"></script>

<!--表格的操作事件-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="boreturn">租借</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="reduce">报废</a>
    <a class="layui-btn layui-btn-xs" lay-event="repair">维修</a>
</script>
<script>
    layui.use(['table','laydate', 'form', 'element'], function(){
        var table = layui.table;
        var laydate = layui.laydate;
        var form = layui.form;
        var element = layui.element;

        //时间样式：
        laydate.render({
            elem: '#unusedTime',
        });

        //维修表格：
        table.render({
            elem: '#unusedTb'
            ,limit:8
            ,url:'/unused/aboutUnused'
            ,page:true
            ,response: {
                statusName: 'responseCode',
                statusCode: 200,
                msgName: 'responseDesc',
                countName: 'total'
            }
            ,cols: [[
                {field:'assetsId',  title: '资产编号', sort: true}
                ,{field:'assetsName',title: '资产名称'}
                ,{field:'unusedTime',  title: '闲置时间'}
                ,{field:'stayplace', title: '存储地'}
                ,{field:'account',  title: '经办人账号'}
                ,{field:'userName', title: '经办人姓名'}
                ,{field:'remark',title: '补充说明'}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
            ]]
        });

        //监听行的操作事件：
        table.on('tool(unusedTb)', function(obj){
            var data = obj.data;
            if(obj.event === 'boreturn'){ //租借
                layer.confirm('哈喽', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'reduce'){ //报废
                //详情
                layer.open({ //弹出新建业务模板类型的弹窗；
                    type:1,
                    area:['1100px','600px'],
                    title:"报废",
                    // btn:['确定','取消'],
                    success: function(layero, index){ //弹窗打开的发生的事件
                        for (var k in data){
                            var str = "#tdetail #"+k;
                            $(str).val(data[k]);
                        }
                        $("#detailsWindow").show();
                    },
                    yes:function (index,layero) {
                        layer.close(index);
                    },
                    btn2:function (index,layero) {
                    },
                    content:$("#detailsWindow"),
                    end: function (){
                        $("#detailsWindow").hide();
                    }
                });

            }

            else if(obj.event === 'repair'){ //维修
                //详情
                layer.open({ //弹出新建业务模板类型的弹窗；
                    type:1,
                    area:['1100px','600px'],
                    title:"资产详情",
                    // btn:['确定','取消'],
                    success: function(layero, index){ //弹窗打开的发生的事件
                        for (var k in data){
                            var str = "#tdetail #"+k;
                            $(str).val(data[k]);
                        }
                        $("#detailsWindow").show();
                    },
                    yes:function (index,layero) {
                        layer.close(index);
                    },
                    btn2:function (index,layero) {
                    },
                    content:$("#detailsWindow"),
                    end: function (){
                        $("#detailsWindow").hide();
                    }
                });

            }
        });


        // 搜索条件表单监听
        form.on('submit(search)', function (data) {
            var serchDatas = data.field;// data.field获取整个表单
            table.reload('unusedTb', {where: serchDatas});
        });

    });
</script>

</html>