<!DOCTYPE html>
<html lang="en">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>固定资产管理系统</title>
<link rel="stylesheet" href="../static/css/c-css/c-base.css" />
<link rel="stylesheet" href="../static/css/c-css/c-component.css" />
<link rel="stylesheet" href="../static/css/item/skin.css" />
<link rel="stylesheet" href="../static/powertip/jquery.powertip.css" />
<link rel="stylesheet" href="../static/css/weadmin.css">
</head>
<body>
<div class="cframe3-top clearfix">
    <!--顶部左侧logo区域-->
    <div class="float-left mgl-l">
        <img src="../static/images/item/title.png" alt="" class="dva"/>
    </div>
    <!--顶部右侧操作区域-->
    <div class="float-right mgr-50 mgl-s">
        <ul class="cframe3-top-operate clearfix">
            <li>
                <a><i class="icon-top icon-search dva" title="搜索"></i></a>
            </li>
            <li>
                <a><i class="icon-top icon-message dva" title="消息"></i><i class="number">12</i></a>
            </li>
            <li>
                <a><i class="icon-top icon-support dva" title="xxx"></i></a>
            </li>
            <li>
                <i class="icon-top icon-user dva"></i>
                <span class="mgl-s mgr-s dva" i><p style="display: inline" id="currentAccount"></p></span>
                <div class="top-hidebox hidebox-user hide">
                    <ul class="lh-l">
                        <li class="pdl-xxl pdr-xxl pdt-l pdb-l">
                            <p>当前角色：</p>
                            <div class="c-form-info">
                                <label for="" class="c-radio choice">
                                    <i></i>
                                    <span>用户</span>
                                </label>
                                <label for="" class="c-radio mgl-l">
                                    <i></i>
                                    <span>开发</span>
                                </label>
                            </div>
                        </li>
                        <li class="pdl-xxl pdr-xxl pdt-l pdb-l">
                            <p>语言切换：</p>
                            <div class="c-form-info">
                                <label for="" class="c-radio choice">
                                    <i></i>
                                    <span>中文</span>
                                </label>
                                <label for="" class="c-radio mgl-l">
                                    <i></i>
                                    <span>英文</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                    <div class="c-logout text-center">
                        <i class="mgr-l dva"></i>
                        <a href="logout" class="dva">安全退出</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
<div class="cframe3-content">
    <div class="cframe3-left-menu">
        <div class="cframe3-menu-box" data-menu="menu3">
            <ul>
                <li>
                    <a _href="./static/view/assets.html" class="cframe3-menu-list cframe3-menu-icon1 choice">
                        <i></i>
                        <span>可视化</span>
                    </a>
                </li>
                <li>
                    <a _href="./static/platform/platformMg.html" class="cframe3-menu-list cframe3-menu-icon2">
                        <i></i>
                        <span>我的数据</span>
                    </a>
                </li>
                <li>
                    <a _href="./pages/cmpManager/cmpCenter.html" class="cframe3-menu-list cframe3-menu-icon3">
                        <i></i>
                        <span>资产管理</span>
                    </a>
                </li>
                <li>
                    <a _href="./pages/tplManager/tplCenter.html" class="cframe3-menu-list cframe3-menu-icon4">
                        <i></i>
                        <span>折旧管理</span>
                    </a>
                </li>
                <li>
                    <a _href="./pages/appManager/appCenter.html" class="cframe3-menu-list cframe3-menu-icon5">
                        <i></i>
                        <span>应用中心</span>
                    </a>
                </li>
                <li>

                    <a _href="./pages/sysManager/sysManage.html" class="cframe3-menu-list cframe3-menu-icon6">
                        <i></i>
                        <span>平台管理</span>
                    </a>

                </li>
            </ul>
        </div>
    </div>
    <div class="cframe3-right-content">
        <div class="cframe3-iframe">
            <iframe src="./static/view/assets.html" frameborder="0" data-name="main"></iframe>
        </div>
    </div>
</div>
</body>
<script src="../static/js/jquery-1.11.3.min.js"></script>
<script src="../static/js/c-component.js"></script>
<script src="../static/powertip/jquery.powertip.min.js"></script>


<script src="../static/js/jquery-1.11.3.min.js"></script>
<!--<script src="../static/js/layui/layui.all.js"></script>-->
<script src="../static/layui.js"></script>
<script src="../static/lay/modules/table.js"></script>
<script src="../static/js/c-component.js"></script>
<script type="text/javascript">
    /*在页面显示当前用户的用户名*/
    $("#document").ready(function () {
//        $.ajax({
//            type: "get",
//            url: "selectAccount",
//            data: {},
//            success: function (data) {
//                //$("#currentAccount").text(data.entity.account);
//                var demo = document.getElementById("currentAccount");
//                document.getElementById("currentAccount").innerText = data.entity.userName;
//                //alert(data.entity.account);
//            },
//            error: function (data) {
//                console.log(data);
//                alert("系统错误");
//            }
//        });
    })



    //顶部操作区域隐藏内容hover效果
    $(".cframe3-top-operate > li").hover(function(){
        $(this).find(".top-hidebox").stop().slideToggle(300);
    })
    //顶部一级菜单点击出现对应左侧下级菜单
    $(".cframe3-menu-box li").on("click","a",function(){
        $(this).addClass("choice").parent("li").siblings().children("a").removeClass("choice");
        var menuName = $(this).attr("data-menu");
        $(".cframe3-left-menu").find("[data-menu='"+menuName+"']").removeClass("hide").addClass("active");
        var _href = $(this).attr("_href");
        $(".cframe3-iframe iframe").attr("src",_href)
    });
//    $("*[title]").powerTip({ placement: 's' });

</script>
</html>
