<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>数据可视化</title>
    <link rel="stylesheet" href="/static/css/item/layui.css">
    <link rel="stylesheet" href="/static/css/weadmin.css">
    <link rel="stylesheet" href="/static/iconfont/QuestionMark.css">

</head>
<body style="height: 100%; margin: 0">
<div class="weadmin-body" style="height: 100%;">
    <div class="layui-row" id="model">
        <form class="layui-form we-search" style="color: #666;">
            查询年数据<i class="iconfont icon-wenhao" title="默认是今年数据"></i>
            <div class="layui-inline">
                <input type="text" name="year" id="year" placeholder="yyyy" class="layui-input timeYMD">
            </div>

            <button title="搜索" type="button" style="background-color: #675eea;" class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <div class="layui-row" style="height: 80%;">
        <div id="container" style="height: 100%;">
        </div>
    </div>
</div>



</body>
<script type="text/javascript" src="/static/js/echarts/echarts.js"></script>
<script src="../../static/js/jquery-1.11.3.min.js"></script>
<script src="/static/layui.js"></script>
<script src="/static/js/c-component.js"></script>
<script type="text/javascript">

        $(function(){
            setDatas("");
        });

        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        var posList = [
            'left', 'right', 'top', 'bottom',
            'inside',
            'insideTop', 'insideLeft', 'insideRight', 'insideBottom',
            'insideTopLeft', 'insideTopRight', 'insideBottomLeft', 'insideBottomRight'
        ];

        app.configParameters = {
            rotate: {
                min: -90,
                max: 90
            },
            align: {
                options: {
                    left: 'left',
                    center: 'center',
                    right: 'right'
                }
            },
            verticalAlign: {
                options: {
                    top: 'top',
                    middle: 'middle',
                    bottom: 'bottom'
                }
            },
            position: {
                options: echarts.util.reduce(posList, function (map, pos) {
                    map[pos] = pos;
                    return map;
                }, {})
            },
            distance: {
                min: 0,
                max: 100
            }
        };

        app.config = {
            rotate: 90,
            align: 'left',
            verticalAlign: 'middle',
            position: 'insideBottom',
            distance: 15,
            onChange: function () {
                var labelOption = {
                    normal: {
                        rotate: app.config.rotate,
                        align: app.config.align,
                        verticalAlign: app.config.verticalAlign,
                        position: app.config.position,
                        distance: app.config.distance
                    }
                };
                myChart.setOption({
                    series: [{
                        label: labelOption
                    }, {
                        label: labelOption
                    }, {
                        label: labelOption
                    }, {
                        label: labelOption
                    }]
                });
            }
        };


        var labelOption = {
            normal: {
                show: true,
                position: app.config.position,
                distance: app.config.distance,
                align: app.config.align,
                verticalAlign: app.config.verticalAlign,
                rotate: app.config.rotate,
                formatter: '{c}  {name|{a}}',
                fontSize: 16,
                rich: {
                    name: {
                        textBorderColor: '#fff'
                    }
                }
            }
        };

        option = {
            color: ['#003366', '#006699', '#4cabce', '#e5323e'],
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                data: ['1', '2', '2', '3', '3', '3', '3', '3', '3', '3', '3', '3']
            },
            toolbox: {
                show: true,
                orient: 'vertical',
                left: 'right',
                top: 'center',
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    axisTick: {show: false},
                    data:['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: 'Forest',
                    type: 'bar',
                    barGap: 0,
                    label: labelOption,
                    data: [320, 332, 301, 334, 390]
                },
                {
                    name: 'Steppe',
                    type: 'bar',
                    label: labelOption,
                    data: [220, 182, 191, 234, 290]
                },
                {
                    name: 'Desert',
                    type: 'bar',
                    label: labelOption,
                    data: [150, 232, 201, 154, 190]
                },
                {
                    name: 'Wetland',
                    type: 'bar',
                    label: labelOption,
                    data: [98, 77, 101, 99, 40]
                }
            ]
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }

        layui.use(['table','laydate', 'form', 'element'], function(){
            var table = layui.table;
            var laydate = layui.laydate;
            var form = layui.form;
            var element = layui.element;

            //时间样式：
            lay('.timeYMD').each(function () {
                laydate.render({
                    elem: this,
                    type: 'year',
                    trigger : 'click'
                });
            });

            // 搜索条件表单监听
            form.on('submit(search)', function (data) {
                var serchDatas = data.field;// data.field获取整个表单
                setDatas(serchDatas);
            });
        });

        function setDatas(datas){
            $.ajax({
                type: 'get',
                url: '/view/manyBar',
                data: datas,
                success: function (data) {
                    var nameList = [];
                    for (var i=0; i<data.length; i++){
                        data[i].label = labelOption;
                        nameList.push(data[i].name);
                    }
                    option.legend.data = nameList;
                    option.series = data;
                    myChart.setOption(option, true);

                }
            });
        }


    </script>
</html>